<div class="window">

  <!-- .toolbar-header sits at the top of your app -->
  <header class="toolbar toolbar-header">
    <h1 class="title">Review Desktop</h1>
  </header>

  <!-- Your app's content goes inside .window-content -->
  <div class="window-content">
    {{ outlet }}
  </div>
</div>
